# tinyrox says don't edit this manually, but it can't stop you!

export(xla_abs)
export(xla_add)
export(xla_buffer)
export(xla_build)
export(xla_builder)
export(xla_client)
export(xla_compile)
export(xla_constant)
export(xla_devices)
export(xla_div)
export(xla_dot)
export(xla_execute)
export(xla_exp)
export(xla_grad)
export(xla_jit)
export(xla_log)
export(xla_mul)
export(xla_neg)
export(xla_parameter)
export(xla_reshape)
export(xla_sqrt)
export(xla_sub)
export(xla_tanh)
export(xla_transpose)

S3method("-",xla_op)
S3method("*",xla_op)
S3method("/",xla_op)
S3method("^",xla_op)
S3method("+",xla_op)
S3method(as.array,xla_buffer)
S3method(as.numeric,xla_buffer)
S3method(Math,xla_op)
S3method(print,xla_buffer)
S3method(print,xla_client)
S3method(print,xla_computation)
S3method(print,xla_executable)
S3method(print,xla_op)
S3method(Summary,xla_op)

importFrom(Rcpp,evalCpp)

useDynLib(rjax, .registration = TRUE)
